.comment {
    display: flex;
    margin-bottom: 20px;
}

.comment .avatar {
    margin-right: 10px;
    border-radius: 5px;
}

.comment .avatar:hover {
    cursor: pointer;
}

.comment .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}

.comment .text .title {
    margin-bottom: 3px;
    font-weight: 600;
}